#header {
  padding: 10px;
}
.elijahimage {
  width: 400px;
  height: auto;
}
.table-container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
}
.table-content {
  padding: 30px 30px 0 30px;
}
@media (max-width: 1080px) {
  .elijahimage {
    padding-top: 25px;
  }
  .table-content {
    padding: 0 25px;
  }
}
@media (max-width: 800px), (max-height: 800px) {
  .elijahimage {
    width: 300px;
  }
}
@media (max-width: 500px), (max-height: 600px) {
  .elijahimage {
    width: 200px;
    padding-top: 15px;
  }
  .table-content {
    padding: 0 15px;
  }
}
