#header{
	padding:10px
}
.table-container {
   width: 540px;
}
.sort-select {
   font-size: 16px;
   padding: 2px;
   border-radius: 10px;
}
.elijahimage {
  height: auto;
  width: 200px;
}
.menu {
  text-align: center;
  padding: 20px 0;
}
.r {
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
}
.c {
  padding: 15px 10px;
  text-align: left;
}
@media (max-width: 635px) {
  .table-container {
   width: 85vw;
  }
}
